Discrete case

In [4]:
# importing required libraries
#!pip install datascience
#!pip install prob140
from datascience import *
from prob140 import *
import matplotlib.pyplot as plt
import numpy as np

In [25]:
# To work with joint PDF, let's create a table with 2 random variables

table=Table().domain([1,2],[1,2,3])
table # 2 RVs, gender (1:Male, 2:Female) and sports (1:Cricket,2:Football,3:Tennis) denoted by X and Y respectively.

X    | Y
1    | 1
1    | 2
1    | 3
2    | 1
2    | 2
2    | 3

In [26]:
# Let's assign probabilities to each scenario

table1=table.probability([25/100,20/100,10/100,28/100,12/100,5/100]) # all the probabilities should sum up to 1
table1

C:\Users\LENOVO\anaconda3\envs\MsDataScience\lib\site-packages\prob140\single_variable.py:350: UserWarning: .probability() is deprecated - please use .probabilities()
  warnings.warn('.probability() is deprecated - please use .probabilities()')

      X=1   X=2
Y=3  0.10  0.05
Y=2  0.20  0.12
Y=1  0.25  0.28

Note that probabilities are chosen randomly for each instance. Alternatively, a probability function could also have been used to determine probabilities for each possibility.

For example, if joint pdf was expressed as (X+Y)/252, X being one random variable and Y being another, we can calculate the joint probability using the below method.

In [12]:
#Probability that X=1 and Y in range 1 and 3
sum=0
for y in range(1,3):
    for x in range(1,2):
        sum=sum+((x+y)/252)

sum

# for the purpose of this lab, we are going to use our own made up values

0.01984126984126984

In [27]:
# finding marginal probabilities

table1.marginal('X')

                     X=1   X=2
Y=3                 0.10  0.05
Y=2                 0.20  0.12
Y=1                 0.25  0.28
Sum: Marginal of X  0.55  0.45

In [28]:
table1.marginal('Y')

      X=1   X=2  Sum: Marginal of Y
Y=3  0.10  0.05                0.15
Y=2  0.20  0.12                0.32
Y=1  0.25  0.28                0.53

In [29]:
table1.both_marginals()

                     X=1   X=2  Sum: Marginal of Y
Y=3                 0.10  0.05                0.15
Y=2                 0.20  0.12                0.32
Y=1                 0.25  0.28                0.53
Sum: Marginal of X  0.55  0.45                1.00

In [30]:
table1.marginal_dist('Y')

Value | Probability
1     | 0.53
2     | 0.32
3     | 0.15

In [33]:
# finding conditional distribution

table_cond_yx=table1.conditional_dist('Y','X')
table_cond_yx

     Dist. of Y | X=1  Dist. of Y | X=2  Marginal of Y
Y=3          0.181818          0.111111           0.15
Y=2          0.363636          0.266667           0.32
Y=1          0.454545          0.622222           0.53
Sum          1.000000          1.000000           1.00

In [34]:
table_cond_xy=table1.conditional_dist('X','Y')
table_cond_xy

                       X=1       X=2  Sum
Dist. of X | Y=3  0.666667  0.333333  1.0
Dist. of X | Y=2  0.625000  0.375000  1.0
Dist. of X | Y=1  0.471698  0.528302  1.0
Marginal of X     0.550000  0.450000  1.0

In [63]:
# finding conditional mean of Y given X=1
def cond_mean_y_x (X): # input X is the conditional value of X
    n=3
    cond_mean=0
    dictt=[0,1]
    for i in range(table_cond_yx.shape[0]-1):
        sum=table_cond_yx.iloc[i,dictt[X-1]]*n
        cond_mean=cond_mean+sum
        n=n-1
    return cond_mean
    
cond_mean_y_x(1)

1.7272727272727273

In [70]:
# finding conditional mean of X given Y=2
def cond_mean_x_y(Y):
    Y=str(Y)
    n=1
    cond_mean=0
    dictt={'3':0,'2':1,'1':2}
    for i in range(table_cond_xy.shape[1]-1):
        sum=table_cond_xy.iloc[dictt[Y],i]*n
        cond_mean=cond_mean+sum
        n=n+1
    return cond_mean

cond_mean_x_y(2)

1.375

In [72]:
# finding conditional variance of Y given X=2
# To find conditional variance, we must calculate conditional mean first using the above function

def cond_var_y_x(X):
    n=3
    cond_var=0
    dictt=[0,1]
    cond_mean=cond_mean_y_x(X)
    
    for i in range(table_cond_yx.shape[0]-1):
        sum=pow((n-cond_mean),2)*table_cond_yx.iloc[i,dictt[X-1]] # formula to calculate variance
        cond_var=cond_var+sum
        n=n-1
    return cond_var


cond_var_y_x(2)

0.4720987654320987

In [73]:
# calculating covariance

np.cov(table['X'],table['Y'])

array([[0.3, 0. ],
       [0. , 0.8]])

In [77]:
# calculating correlation


(np.cov(table['X'],table['Y']))/(np.std(table['X']) * np.std(table['Y']))

array([[0.73484692, 0.        ],
       [0.        , 1.95959179]])

In [100]:
from scipy.integrate import dblquad
def func (x,y):
    return 8*x*y # suppose this is our joint continous function

In [103]:
# Let's calculate the probability that x lies in the range 0.5 and 1 while y lies in the range 0 and 0.5

P=dblquad(func,0.5,1,0,0.5)
P[0]

0.375